
<style>
.all_lat_menu{
	width: 50px;
	height: 100%;
	background: #696fa0;
    white-space: nowrap; 
    transition: width 0.5s ;
    position: fixed;
    z-index: 9999; 
}



.all_lat_menu {
    /* float: left; */
    float: right;
    position: fixed;
    right: 1;
}
.all_lat_menu {
    top: 25%;
    height: 306px;
}



	.all_lat_menu ul{
		padding: 0;
		list-style-type: none;
		text-align: left;
	}
	.all_lat_menu li {
		width: auto;
		height: 60px;
		line-height: 50px;  
		padding-left: 18px;
	}
	
		.all_lat_menu .item-menu {
	        height:50px;
	        overflow:hidden;
	        color:#fff;
	    }  
	.all_lat_menu .get_a_show{
		color: white;
	    text-decoration: none;
	    font-weight: bold;
	} 
	span.menu{
		padding-left: 17px;
	}
	.t_search {
	    color: black;
	    height: 35px;
	    margin-left: 15px;
	    width: 190px
	}
</style>


	<div class="row">
		<div class="left all_lat_menu">
        <ul>
            <a data-toggle="modal" data-target="#squarespaceModal" class="get_a_show" href="#">
                <li class="item-menu">
                    <span class="glyphicon glyphicon-comment"></span> 
                    
                </li>
            </a> 
            <a data-toggle="modal" data-target="#squarespaceModal_book" class="get_a_show" href="#">
                <li class="item-menu">
                    <span class="glyphicon glyphicon-pencil"></span> 
                    
                </li>
            </a>
            <a data-toggle="modal" data-target="#books" class="get_a_show" href="#">
                <li class="item-menu">
                    <span class="glyphicon glyphicon-book"></span> 
                    
                </li>
            </a>    
            <a data-toggle="modal" data-target="#squarespaceModal_model" class="get_a_show" href="#">
                <li class="item-menu">
                    <span class="glyphicon glyphicon-upload"></span> 
                 
                </li>
            </a> 
            <a data-toggle="modal" data-target="#squarespaceModal_model_embed" class="get_a_show" href="#">
                <li class="item-menu">
                    <span class="glyphicon glyphicon-list-alt"></span> 
                   
                </li>
            </a>
            <a data-toggle="modal" data-target="#news_MODAL_ID" class="get_a_show" href="#">
                <li class="item-menu">  
                    <span class="glyphicon glyphicon-credit-card"></span> 
                   
                </li>
            </a> 
             <!-- <a data-toggle="modal" data-target="#news_MODAL_ID" class="get_a_show" href="#">
                <li class="item-menu">  
                    <span class="glyphicon glyphicon-credit-card"></span> 
                   
                </li>
            </a> menu-->
        </ul>
    </div> <!-- end left -->
    
    </div>
	
</div>







