<!DOCTYPE html>
    <html>
    <head>
            {{"decoupled-map"|googlemap_js(37.4419, -122.1419, markers=[(37.4419, -122.1419)])}}
            {{mymap.js}}
            {{sndmap.js}}
			<style>
			body{
			margin:0px;
			padding:0px;
			}
			.maps_width{
			
			width:100%;
			height:100%;
			}
			#sndmap {
			height: 734px;
			width: 100%;
			margin: 0;
			}
			</style>
			
    </head>
    <body>
    

       
       <div class="maps_width"> {{sndmap.html}}</div>

    </body>
</html>