{% extends "header.html"%}
{% block body%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Market</title>

<style>

.midd{
	background-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.first-midd,.second-midd{
	background-color: #eee;
}
.pic1{
	padding: 5px;
	width: 101%;
height: 222px;
}
.pret{
	position: relative;
	right: -58%;
}
.info{
	position: relative;

}
.but{
	margin-bottom:10px;
}
.pull-righ{
	position: relative;
}
    h4{
    	font-weight: 600;
	}
	p{
		font-size: 12px;
		margin-top: 5px;
	}
	.price{
		font-size: 30px;
    	margin: 0 auto;
    	color: #333;
	}
	.right{
		float:right;
		border-bottom: 2px solid #4B8E4B;
	}
	.thumbnail{

		box-shadow: 0 1px 2px rgba(0,0,0,.5);
		-webkit-transition: all 0.5s; 
		transition: all 0.5s;
	}
	.thumbnail:hover{
		
		
	}
	.line{
		margin-bottom: 5px;
	}
	@media screen and (max-width: 770px) {
		.right{
			float:left;
			width: 100%;
		}
	}
	.col-md-3.col-sm-6 {
    height: 128;
    margin-top: 288;
}
.modal-picture1{
	vertical-align: middle;
position: relative;
left: 36;
}
.p-products{

    height: 48;

}
</style>



<div class="content">

<div class="row">







	
	<div class="container">
	<div class="row">
    	<!-- BEGIN PRODUCTS -->
  		

  		{% for i in products %}
  	

  	{% if i[0]<=4 %}
     	<div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      			{%if i[5] == ""%}
      			<img   src="http://placehold.it/500x400" alt="..."> 
				{%else%}
			<img   src="../static/magazin_pic/{{i[5]}}" alt="...">
			{%endif%}
      			<h4>{{i[1]}}</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p class="p-products">{{i[3]}} </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price ">${{i[2]}}</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" data-toggle="modal" data-target="#{{i[0]}}"> BUY ITEM</button>
      						  

      						  <!-- Modal -->
	  
  <div class="modal fade" id="{{i[0]}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><center>{{i[1]}}</center></h4>
        </div>
        <div class="modal-body">
      		{%if i[5] == ""%}
      			<img class="modal-picture1"  src="http://placehold.it/500x400" alt="..."> 
				{%else%}
			<img class="modal-picture1"  src="../static/magazin_pic/{{i[5]}}" alt="...">
			{%endif%}
       	   <p><h4><b>Descriere</b></h2><p>
          <p>{{i[3]}}</p>
          <p><h4><b>Continut</b></h2><p>
          <p>{{i[4]}}</p>
        </div>
        <div class="modal-footer">

         <p> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

       
        <a id="{{i[0]}}" class="btn btn-default" href="/cart?prod={{i[0]}}">Add</a>
      
</p>

<script>
/*
$(document).ready(function(){
    $("#{{i[0]}}").click(function(){
        window.location="http://localhost:5000/cart?prod={{i[0]}}"
    });
});
*/
  </script>


        </div>
      </div>
      
    </div>
  </div>


      				</div>
      				
      			</div>
    		</span>
  		</div>
    {%endif%}
    
  	{% if i[0]>4 %}
  		{% if i[0]%4==0 %}
  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      					{%if i[5] == ""%}
      			<img   src="http://placehold.it/500x400" alt="..."> 
				{%else%}
			<img   src="../static/magazin_pic/{{i[5]}}" alt="...">
			{%endif%}
      			<h4>{{i[1]}}</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p class="p-products">{{i[3]}} </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">${{i[2]}}</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" data-toggle="modal" data-target="#{{i[0]}}" > BUY ITEM</button>
      					  <div class="modal fade" id="{{i[0]}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><center>{{i[1]}}</center></h4>
        </div>
        <div class="modal-body">
					{%if i[5] == ""%}
      			<img class="modal-picture1"  src="http://placehold.it/500x400" alt="..."> 
				{%else%}
			<img class="modal-picture1"  src="../static/magazin_pic/{{i[5]}}" alt="...">
			{%endif%}
           <p><h4><b>Descriere</b></h2><p>
          <p>{{i[3]}}</p>
          <p><h4><b>Continut</b></h2><p>
          <p>{{i[4]}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <a id="{{i[0]}}"class="btn btn-default" href="/cart?prod={{i[0]}}">Add</a>
        </div>
      </div>
      
    </div>
  </div>
      				</div>
      				
      			</div>
    		</span>
  		</div>
  		{%endif%}
       <br/>
  		{% if i[0]%4 !=0 %}
         <div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
			{%if i[5] == ""%}
      			<img src="http://placehold.it/500x400" alt="..."> 
				{%else%}
			<img src="../static/magazin_pic/{{i[5]}}" alt="...">
			{%endif%}
      			<h4>{{i[1]}}</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p class="p-products">{{i[3]}} </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">${{i[2]}}</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" data-toggle="modal" data-target="#{{i[0]}}"> BUY ITEM</button>
      					  <div class="modal fade" id="{{i[0]}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><center>{{i[1]}}</center></h4>
        </div>
        <div class="modal-body">
       {%if i[5] == ""%}
      			<img class="modal-picture1"  src="http://placehold.it/500x400" alt="..."> 
				{%else%}
			<img class="modal-picture1"  src="../static/magazin_pic/{{i[5]}}" alt="...">
			{%endif%}
          <p><h4><b>Descriere</b></h2><p>
          <p>{{i[3]}}</p>
          <p><h4><b>Continut</b></h2><p>
          <p>{{i[4]}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <a id="{{i[0]}}"class="btn btn-default" href="/cart?prod={{i[0]}}">Add</a>
        </div>
      </div>
      
    </div>
  </div>
      				</div>
      				
      			</div>
    		</span>
  		</div>
  		{%endif%}
  		{%endif%}
  	{%endfor%}
  		<!-- END PRODUCTS -->
  	
	</div>
</div>


	

</div>
</div>

<video autoplay loop poster class="bg" src="http://static.videezy.com/system/resources/previews/000/000/328/original/bokeh2.mp4">
</video>
<div class="bg-filter">
</div>

<div class="intro-text">
  
</div>

<style>
.page-header {
    padding-bottom: 9px;
    margin: 0 0 0; 
    border-bottom: 1px solid #eee;
}
.bg, .bg-filter {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.bg-filter {
  z-index: -99;
  opacity: 0.2;
  background: -webkit-linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
  background: -moz-linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
  background: -o-linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
  background: linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
}
.intro-text {
  font-family: "Open Sans";
  widht: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  font-size: 56px;
  text-transform: uppercase;
  color: white;
}

</style>





{%endblock%}

<!--	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 midd">
	<img src="https://www.google.ro/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiHkPrR3p7UAhXJ2RoKHcj7DnsQjRwIBw&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F557531628843993565%2F&psig=AFQjCNGYDw7w0J2T0jHEVlpBH523fJ4Z4g&ust=1496478371263873" class="pic1" />
	<p align="left">Bracer <span  class="pret" align="right">23.34$</span></p>
	<div class="info">
	uewupeguipguiewgufugweugfgew	ge98ufgug<br/>
	uewupeguipguiewgufugweugfgew	ge98ufgug<br/>
	uewupeguipguiewgufugweugfgew	ge98ufgug<br/>
	</div>
	<div>
	<div class="pull-righ">15 reviews</div>
	<center class="but"><button type="button" class="btn btn-primary" >Buy
	</button></center>
	</div>
	</div>-->

