    <tbody >
							{%for every in info_page%}
							{% if maps!=True %}
                              <tr class="unread">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                  <td class="view-message  dont-show">{{every[2]}}</td>
                                  <td class="view-message ">Added a new class: Login Class Fast Site</td>
                                  <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
								  <td class="view-message  inbox-small-cells"><i class="fa fa-trash" aria-hidden="true"></i></td>
								  <td class="view-message  inbox-small-cells"><i class="fa fa-reply" id="show_modal_info" aria-hidden="true"></i></td>
                                  <td class="view-message  text-right">9:27 AM</td>
                              </tr>
							 
							  {%endif%}
							 

                             {%endfor%}
							 
							 
							{%if maps==True%}
				
   
							  {%endif%}  
<script>

$(".show").replaceWith("");
$(".zonad1").click(function(){
$(".show").replaceWith("");


});
$(".zonad2").click(function(){


});
$(".zonad3").click(function(){


});

</script>				


				
                             <!-- 
							  
							  
							 <tr class="">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                  <td class="view-message dont-show">Nishant kumar</td>
                                  <td class="view-message">Last Chance: Upgrade to Pro for </td>
                                  <td class="view-message inbox-small-cells"></td>
                                  <td class="view-message text-right">March 15</td>
                              </tr> -->
                              
                              
                              
                          </tbody>